@font-face {
	font-family: EspinosaNovaReg;
	src: url("Estudio CH - EspinosaNova-Regular.otf") format("opentype");
	}
	@font-face {
	font-family: Epoca Classic Light;
	src: url("EpoClassic-Lig.otf") format("opentype");
	}
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Epoca Classic Light', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'EspinosaNovaReg', 'Garamond', 'Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family:'Epoca Classic Light';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
table {
	
}

tr {
	
}

th {
	font-size: 1.3em;
	font-family: 'EspinosaNovaReg';
}

td {
	font-size: 1.2em;
	font-family:'Epoca Classic Light', 'Arial', 'Sans-Serif';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
