
	@font-face {
	font-family: Epoca Classic Light;
	src: url("EpoClassic-Lig.otf") format("opentype");
	}
body {
    margin: 60px auto;
    width: 70%;
    font-family:'Epoca Classic Light', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
     font-family:'Book Antiqua', 'Garamond', 'Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.4em;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
    color: #080080;
}
a:hover {
    text-decoration: underline;
    color: #0043e0;
}
h1 {
    font-size: 3em;
    font-family:'Book Antiqua', 'Garamond', 'Serif';
    color: #bd1300;
}

h2 {
    font-size: 2.5em;
    font-family:'Book Antiqua', 'Garamond', 'Serif';
    color: #bd1300;
}

h3 {
    font-size: 1.7em;
    font-family:'Book Antiqua', 'Garamond', 'Serif';
    color: #bd1300;
    line-height: .8em;
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #333;
    font-family:'Epoca Classic Light';
}
ul {
	list-style-type: disc;
    color: #333;
}
li {
    font-size: 1.2em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
table {
	border-collapse: collapse;
}

th {
	font-size: 1.6em;
	font-family: 'Book Antiqua';
    text-align: left;
    border-bottom: 2px solid black;
    padding: 10px;
    color: #bd1300;
}

td {
	font-size: 1.2em;
	font-family:'Epoca Classic Light', 'Arial', 'Sans-Serif';
    border-bottom: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
