@font-face {
	font-family: EspinosaNovaReg;
	src: url("/css/Estudio CH - EspinosaNova-Regular.otf") format("opentype");
	}

body{
	font-family: 'EspinosaNovaReg';
	background-color: #F4EEE4;
}
nav.menu{

}

ul.menu{}
li.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}
nav.sidebar{}
ul.sidebar{list-style-type: none;
margin: 0;
padding: 0;
width: 30%;}
li.sidebar{display: block;}

ul.result{}
li.result{list-style-type: none;
font-family: 'OpenSans';}
a{}
h1{
text-align: right;
font-size: 5em;
}
h2{}
