@font-face {
	font-family: EspinosaNovaReg;
	src: url("/css/Estudio CH - EspinosaNova-Regular.otf") format("opentype");
	}
@font-face {
	font-family: OpenSans;
	src: url("/css/OpenSans-Regular.ttf") format("truetype");
	}

body{
	font-family: 'EspinosaNovaReg';
	background-color: #F4EEE4;
}
nav.menu{

}

ul.menu{}
li.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}
div.sidebar{}
ul.sidebar{list-style-type: none;
margin: 0;
padding: 0;
width: 25%;
  height: 100%; /* Full height */
float: left;
}
li.sidebar{display: block;
text-align: center;}
div.result{
	margin-left: 30%;
}
ul.result{margin-top: 0;}
li.result{font-family: 'OpenSans';
font-size: 1.1em;}
a{}
[href=top]{color: green;}
h1{
text-align: right;
font-size: 4em;
}
h2{color: #C00000;
font-size: 2em;
margin-bottom: 5px;}
