@font-face {
	font-family: EspinosaNovaReg;
	src: url("/css/Estudio CH - EspinosaNova-Regular.otf") format("opentype");
	}

body{
	font-family: 'EspinosaNovaReg';
	background-color: #F4EEE4;
}
nav.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}
nav.sidebar{}
ul{}
li{list-style-type: none}
li.sidebar{list-style-type: none}
a{}
h1{}
h2{}
