@font-face {
	font-family: EspinosaNovaReg;
	src: url("/css/Estudio CH - EspinosaNova-Regular.otf") format("opentype");
}
@font-face {
	font-family: GoudyStM;
	src: url("/css/GoudyStM.otf") format("opentype");
}
* {
	display: block;
	word-spacing: 10px;
	font-size: 100%;
	font-kerning: normal;
	font-weight: 600;
	font-family: 'GoudyStM';
}
[rendition ~= "#center"] {
	text-align: center;
}

[rendition ~= "#uppercase"] {
	text-transform: uppercase;
}

[rendition ~= "#red"] {
	color: rgb(255, 0, 0);
}

[rendition ~= "#expanded"] {
	letter-spacing: 3px;
}

[rendition ~= "#xx-large"] {
	font-size: 150%;
	word-spacing: 5px;
}

[rendition ~= "#x-large"] {
	font-size: 130%;
	word-spacing: 10px;
}

[rendition ~= "#large"] {
	font-size: 115%;
    word-spacing: 10px;
}

[rendition ~= "#small"] {
	font-size: 70%;

}


space[quantity="1"] {
	min-height: 1em;
}
space[quantity="3"] {
	min-height: 3em;
}
space[quantity="4"] {
	min-height: 4em;
}
space[quantity="5"] {
	min-height: 6em;
}

titlePage {
	background-color: #F0E5D2;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 15%;
}

publisher {
	font-family: 'EspinosaNovaReg';
	word-spacing: 10px;
}

docDate[rendition="#small"] {
	font-size: 100%;
}
