@font-face {
	font-family: EspinosaNovaReg;
	src: url("/css/Estudio CH - EspinosaNova-Regular.otf") format("opentype");
}
@font-face {
	font-family: GoudyStM;
	src: url("/css/GoudyStM.otf") format("opentype");
}
[rendition ~= "#center"] {
	text-align: center;
}

[rendition ~= "#uppercase"] {
	text-transform: uppercase;
}

[rendition ~= "#red"] {
	color: rgb(255, 0, 0);

}

[rendition ~= "#expanded"] {
	letter-spacing: 3px;
}

[rendition ~= "#xx-large"] {
	font-size: 300%;
}

[rendition ~= "#x-large"] {
	font-size: 200%;
}

[rendition ~= "#large"] {
	font-size: 150%;
}

[rendition ~= "#small"] {

}

[quantity="1"] {
	line-height: 1;
}

[quantity="3"] {
	line-height: 3;
}

[quantity="4"] {
	line-height: 4;
}

[quantity="5"] {
	line-height: 5;
}

titlePage {
	background-color: #F0E5D2;
}
lb {
	line-height: 20px;
}
publisher {
	font-family: 'EspinosaNovaReg';
}
docTitle {
	font-family: 'GoudyStM';
}
